article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

html, body {
	height: 98%;
}
/* clearfix */
.clear:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    display: block;
}


* html .clear {
    height: 1%;
}

a {
    color: #37e;
}

a:hover {
    color: #222;
}

body {
    font-family: "Georgia", serif;
    background-color: #efefef;
    padding-top: 40px;
    margin: 0;
}

.topbar h3 a, .topbar .brand {
	color: #000;
	font-size: 28px;
	margin-left: -16px;
	padding: 12px 20px 12px;
}

.topbar-override {
	background: #F8F8F8;
	border-bottom: 0px solid #E0E0E0;
	color: #000
}

.topbar-override a {
	color: #000;
	font-size: 20px;
}

.btitle:hover {
	color: #999;
}
.topbar h3 a:hover,.topbar .brand:hover {
	color:#999;
	text-decoration:none;
}

.topbar div > ul a:hover, .nav a:hover {
	color: #999;
}

.topbar div > ul, .nav {
	display: block;
	float: left;
	margin: 0 10px 0 350px;
	position: relative;
	left: 0;
}

.topbar div > ul a, .nav a {
	padding: 17px 10px 11px;
}

.container-expand {
					min-height: 90%%;
					height: auto !important;
					height: 90%;
					padding-left: 25px;
}

footer {
    font-size: 10px;
    text-align: center;
    /*margin-top: 24px; */
}

.blog_excerpt{
    padding-bottom: 24px;
}

.blog_excerpt .post time{
    float: none;
    clear: left;
}

.blog_excerpt .button{
    float: right;
}

/*.blog_excerpt h3, h1.title{
	  font-family: "Georgia";
    font-size: 24px;
    line-height: 36px;
    border-bottom: 1px solid #ccc;
		padding-top: 20px;
		text-decoration: none;
}*/
*/
.blog_excerpt h3{
    margin-bottom: 24px;
}

section.content{
    padding: 12px;
}

/* listing */

.sep {
	position: relative;
	left: -100px;
}
.listing{
    margin-top: 24px;
}

.listing img {
    width: 120px;
    height: 120px;
}

/* Content */
article {
	width: 700px;

}
article h1.title {
    font-family: "Georgia";
    font-size: 24px;
    line-height: 36px;
    padding-top: 20px;
    text-decoration: none;
		margin-bottom: 5px;
		margin-top: 15px;

}

article h1.title a {
	color: #292929;
}


article.post p {
		font-family: "Mate","Sabon LT Std","Hoefler Text","Palatino Linotype","Book Antiqua",serif;
		font-size: 1.5em;
	  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px; */
    line-height: 30px;
    margin: 12px 0;
}

article.post img{
    display: block;
    margin-bottom: 24px;
}


.post time{
    font-size: 12px;
    color: #999;
    float:left;
}

.post-content {
	padding-top: 30px;
}

ul.tags{
    margin-bottom: 24px;
    text-align: right;
}

ul.tags li{
    list-style-type: none;
    display: inline;
}

ul.tags li a{
    color: #999;
    text-decoration: none;
}


ul.tags li a:before {
    content: '\00AB';
}


ul.tags li a:after {
    content: '\00BB';
}

ul.tags li a:hover {
    color: #222;
}

h1 a, h2 a, h3 a{
    text-decoration: none;
}

.intro {
	margin-top: 24px;
}

.intro-gravatar {
	float: right;
	width: 100px;
	position: relative;
	top: -19px;
	right: 0px;
}


nav.post_nav{
    background-color: #efefef;
    position: fixed;
    width: 124px;
    margin-left: -186px;
		margin-top: 0px;
    font-size: 12px;
    padding: 12px;
    padding-right: 24px;
    -moz-box-shadow: 0px 2px 4px #ccc; /* FF3.5+ */
    -webkit-box-shadow: 0px 3px 4px #5c5c5c; /* Saf3.0+, Chrome */
          box-shadow: 0px 2px 4px #ccc; /* Opera 10.5, IE 9.0 */
              filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='#ccc'); /* IE6,IE7 */
          -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='#ccc')"; /* IE8 */

}

a.backlink{
    display:block;
    line-height: 24px;
    margin-bottom: 12px;
}

a.backlink:before {
    content: '\2190';
}

a.prev:before {
    content: '\00AB';
}

a.next:after {
    content: '\00BB';
}

a.prev{
    margin-right: 12px;
}

a.prev,
a.next{
    display: block;
    float: left;
    margin-bottom: 12px;
}

a.next{ float: right };

a.backlink:hover, a.prev:hover, a.next:hover {
    color: #222;
}

.post_nav a.disabled{
    color: #ccc;
}

.post_nav a{
    color: #666;
    text-decoration: none;
}

.post_nav div {
    display: block;
    float: left;
    width: 58px;
    overflow: hidden;
    margin-left: 4px;
}

.disqus {
	width: 700px;
	margin-top: 30px;
	padding: 20px;
	font-family: "Mate","Sabon LT Std","Hoefler Text","Palatino Linotype","Book Antiqua",serif;
	font-size: 16px;
}


.archives {
	margin-top:23px;
}

.archives ul.posts {
    margin-top: 24px;
}

.archives li.post {
    list-style-type: none;
    border-bottom: 1px dotted #ccc;
    padding: 12px 0;

}

.archives li.post time {
    color: #999;
    margin-right: 24px;
    display:block;
    float: left;
    width: 120px;
}

.archives li.post a{
    float: left;
}

.archives ul.tags{
    float: right;
    margin-bottom:0;
}

div.blog-list{
	position: relative;
	left: -21px;

}

.blog-list ul.posts{
		font-size: 20px;
    margin-top: 36px;
}

.blog-list li.post{
    list-style-type: none;
    /* border-bottom: 1px dotted #ccc; */
    padding: 10px 0;

}

.blog-list li.post time{
    position: relative;
    top: 1px;
    font-size: 15px;
    color: #999;
    margin-right: 65px;
    display: block;
    float: left;
    width: 175px;
}

.blog-list span.list-arrow {
    float: left;
    position: relative;
    left: -58px;
    font-weight: bold;
		top: 1px;
}

.blog-list li.post a{
    float: left;
		text-decoration: None;
		position: relative;
		top: 1px;
}

.blog-list li.post a:hover {
	text-decoration: underline;
}

.codebox {
  margin-top: 8px;
  margin-bottom: 12px;
}

.code {
  position: relative;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  background-color: #F0F3F3;
}

.code figcaption {
  font-size: 10px;
  position: absolute;
  bottom: 3px;
  right: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.highlight pre {
  font-size: 12px;
  padding: 16px 12px 12px;
  line-height: 24px;
  margin-bottom: 8px;
}
