<div class="hero-unit about-block">
{% filter markdown|typogrify -%}
	![Mike](/media/images/mike.jpg) Mike is an ambitious Python/Django Developer, Beer drinker and lover of all things basketball.
	He is also a curator of [Pycoder's Weekly](http://pycoders.com).
	You can follow him on [Twitter](http://twitter.com/mgrouchy) or [Github](http://github.com/mgrouchy).
{%- endfilter %}
</div>
