{% extends "base.j2" %}
{% from "macros.j2" import render_excerpt with context  %}
{% block main %}
<div class="blog-list">
	<ul class="posts clear">
		{% for res in resource.node.walk_resources_sorted_by_time() %}
			<li class="post clear">
						 	<time datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">{{ res.meta.created.strftime('%A, %d %b, %Y') }} </time> <span class="list-arrow">&raquo;</span>
				<a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a>
			</li>

  {#  {{ render_excerpt(res) }} #}
{% endfor %}
</ul>
</div>
{% endblock %}
